* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
  }
  .v0_3 {
    width: 414px;
    height: 418px;
    background: url("../images/v0_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v0_5 {
    width: 414px;
    height: 418px;
    background: rgba(255,100,79,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 0px solid rgba(150,150,150,1);
  }
  