body {
        /*justerar bakgrund av hela sidan */
        background-image: url("blackbackground2.jpg");
        background-size: cover;                      
        background-repeat: no-repeat;
        background-position: center center; 
      }
    .filmlist{
        /* designar min "5 favoritfilmer listan" */
        color: #0031FF;
        border: 5px yellow;                  
        margin: 3px;
        padding: 30px;
        width: 300px;
        height: 150px;
    }
    .right{
        float: right;
        width: 370px;
    }
    .textconfiguration{
        color: yellow;
        width: 700px;
    }
    .underrubriken{
        /* designar några av mina underrubriker */
        background-color: rgb(14, 13, 13);
        color: #001ec7;
        border: solid;
        border-width: 2px;
        border-color: rgb(250, 164, 52);
        padding: 2px;
        width: 120px;
    }
    .underrubriken2{
        /* designar några av mina underrubriker */
        background-color: rgb(14, 13, 13);
        color: #4ff326bd;
        border: solid;
        border-width: 2px;
        border-color: yellow;
        width: 400px;
        padding: 2px;
    }
    a{
        color: red;
        font-weight: bold;
    }
    .imageofme{
        border: solid;
        border-width: 2px;
        border-color: yellow;
        width:300px;
        height:390px
    }
    .orangeborder{
        border: solid;
        border-width: 4px;
        border-color: rgba(154, 52, 250, 0.705);
        width: 280px;
    }
    h1 {color: rgb(255, 255, 28);}
    .knapp{
        color: yellow;
        background-color: black;
        border: 4px solid yellow;
        padding: 5px;
        margin: 4px;
    }
    li{
        margin: 3px;
    }


