body {
    background: linear-gradient(to right,#F7F98B  ,#FF5252  );
font-family: sans-serif;
margin: 0;
width: 98.5vw;
height: 80vh;

   }
    h1 {color: #831313;}
    h2 {color: #C70039;}
    h3 {color: #405d27}